/* container */
.profile-container {
    max-width: 900px;
    margin: 40px auto;
}

.profile-section {
    display: grid;
    grid-template-columns: 200px 1fr;
    gap: 20px;

    margin-bottom: 30px;
    padding-bottom: 20px;
    border-bottom: 1px solid #333;
}

.section-title {
    border-right: 1px solid #333;
    padding-right: 20px;

    font-size: 20px;
    font-weight: 600;

    display: flex;
    align-items: flex-start;
}

.profile-section form {
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.form-group input {
    width: 100%;
    max-width: 350px;
    padding: 8px 10px;
    border-radius: 6px;
    border: 1px solid #ccc;
    background-color: #fff;
    color: #000;
}

.form-group input:focus {
    outline: none;
    border-color: #6c4cff;
}

.save-button {
    margin-top: 10px;
    width: fit-content;

    padding: 8px 20px;
    background: #6c4cff;
    border: none;
    border-radius: 6px;

    color: white;
    cursor: pointer;
}

.save-button:hover {
    opacity: 0.9;
}